/*CSS reset settings here*/
* {
    margin: 0px;
    padding: 0px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
    padding: 0;
    margin: 0;
    border: 0;
}
html {
    margin: 0;
    min-height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: rgb(1, 8, 107);
}
header > h1 {
    color: rgb(33, 253, 4);
}
h3 {
    color: gold;
}
#places {
    display: flex;
    justify-content: space-between;
}
#places > div {
    width: 20%;
    height: 15rem;
    padding: 2em;
    border: solid black 2px;
    color: rgb(248, 213, 12);
    background-color: mediumorchid;
}
#places > div > img {
    width: 80%;
}
#activities {
    height: 12rem;
    overflow-y: scroll;
    border: solid;
    padding: 1rem;
}
.won {
    color: rgb(7, 252, 7);
}
.lost {
    color: red;
}
.even {
    color: white;
}
#gold {
    color: gold;
}
h2 {
    color: lightskyblue;
}
