<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Search for a Game</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="/dashboard">Poker Pals</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/host">Host a Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/events">Find a Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/players">Registered Players</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <a href="/logout">Log Out</a>
                    </span>
                </div>
            </div>
        </nav>
        <div class="container">
            <h1>Upcoming Events</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Game Type</th>
                        <th>Buy In</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Players</th>
                        <th>Host</th>
                        <th>Event Details</th>
                        <th>Join/Leave</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td>{{ game.game_type }}</td>
                        <td>{{ game.buy_in }}</td>
                        <td>{{ game.location }}</td>
                        <td>{{ game.date }}</td>
                        <td>{{ game.poker_players.count }}</td>
                        <td>{{ game.host.full_name }}</td>
                        <td><a href="/event/{{game.id}}">Details</a></td>
                        <td><a href="/join/{{game.id}}">Join Game</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
