/*CSS reset settings here*/
* {
    margin: 0px;
    padding: 0px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
    padding: 0;
    margin: 0;
    border: 0;
}
html {
    margin: 0;
    min-height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    background-image: url(/static/images/poker.jpg);
}
.container {
    background-color: rgb(230, 193, 145);
    padding: 15px;
}
h1,
h2 {
    margin: 10px 0px 10px 0px;
}
table {
    margin-top: 10px;
}
form {
    margin: 10px 0px 10px 0px;
}
button {
    margin: 10px 0px 10px 0px;
}
input {
    background-color: rgb(243, 245, 145);
}
li.error {
    color: rgb(236, 18, 18);
    font-weight: bold;
}
li.success {
    color: rgb(65, 241, 65);
    font-weight: bold;
}
ul.messages {
    list-style: none;
}
